* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top , #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    border: 1px solid white;
    box-shadow: 0px 2px 3rem rgb(255,255,255,0.65) ;
    z-index: 25;
    backdrop-filter: blur(2rem);
}

.circle1, .circle2 {
    background: white;
    background: linear-gradient(to bottom right, 
    rgb(255,255,255,0.4), rgb(255,255,255,0.14));
    height: 10rem;
    width: 10rem;
    border: 1px white solid;
    border-radius: 50%;
    position: absolute;
}

.circle1 {
    /* position: absolute; */
    left: 15%;
    top: 5%;
    /* z-index: -1; */
}

.circle2 {
    /* position: absolute; */
    right: 15%;
    bottom: 5%;
    /* z-index: -1; */
}